html {
height: 100%;

    width: 100%;
}
body {
    height: 100%;
width:1440px;
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    html {
        height: auto;
        width: 610px;
max-width: 100%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 430px) {
    html {
        height: 100%;
        width: 800px;
max-width: 100%;
    }
}

body {
    margin: 0%;
    background-color: rgba(255, 228, 196, 0.555);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

.header {
    background-color: #fac29500;
    height: 15%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0%;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
}

.logo {
    width: 150px;
    margin-left: 10%;
    align-self: center;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 150px;
        margin-left: 5%;
        align-self: center;
        flex-shrink: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

a {
    text-decoration: none;
    color: black;
}

.header-mid {
    display: inline-flex;
    gap: 100px;
    margin-right: 20%;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-self: center;
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
    .header-mid {
        display: inline-flex;
        gap: 50px;
        width: 40%;
        list-style: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        align-self: center;
        font-size: 1.3em;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dash-container {
    display: flex;
    color: #fdf1eb;
    height: 700px;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-image: url(blur-dash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 10%;
}

@media only screen and (max-width: 800px) {
    .dash-container {
        display: flex;
        color: #fdf1eb;
        height: 450px;
        width: auto;
        flex-wrap: wrap;
        background-image: url(blur-dash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.dash-flex {
    display: flex;
    height: 100%;
    margin-top: 360px;
    margin-right: 10%;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
}

@media only screen and (max-width: 800px) {
    .dash-flex {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin-top: 230px;
        margin-right: 10%;
        flex-direction: column;
        background-color: rgba(0, 255, 255, 0);
    }
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgba(243, 230, 227, 0.931);
}

@media only screen and (max-width: 800px) {
    h1 {
        text-align: justify;
        font-size: 38px;
        color: rgba(243, 230, 227, 0.931);
        margin-left: 5%;
        margin-bottom: 0%;
    }
}

.p-1 {
    font-size: 20px;
    color: rgba(243, 230, 227, 0.931);
    align-self: flex-start;
}

@media only screen and (max-width: 800px) {
    .p-1 {
        font-size: 20px;
        color: rgba(243, 230, 227, 0.931);
        align-self: flex-start;
    }
}

.button2 {
    background-color: rgba(243, 230, 227, 0.931);
    width: 150px;
    height: 30px;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 100px;
    align-self: flex-end;
    cursor: pointer;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(79, 44, 5, 0.812);
    margin: 3% auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 800px) {
    h2 {
        text-align: center;
        font-size: 30px;
        color: rgba(79, 44, 5, 0.812);
        margin: 3% auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.model-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 10%;
    gap: 8%;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
    .model-container {
        display: flex;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5%;
        gap: 2%;
        align-items: center;
        justify-content: space-evenly;
        flex-shrink: 0;
    }
}

.model-column {
    display: flex;
    background-color: #fac295a5;
    flex-direction: column;
    height: 450px;
    width: 340px;
    align-items: center;
    padding: 0px;
    padding-top: 0%;
    margin: 30px 0px;
    gap: 10%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
    .model-column {
        display: flex;
        background-color: #fac295a5;
        flex-direction: column;
        height: 350px;
        width: 240px;
        align-items: center;
        margin: 20px 0px;
        padding: 20px;
        gap: 7%;
        box-sizing: border-box;
        border: 1px solid rgba(255, 0, 0, 0);
        border-radius: 20px;
        flex-shrink: 0;
        padding-top: 0%;
    }
}

.car-sizes {
    width: 340px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 20px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .car-sizes {
        width: 240px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 0, 0, 0);
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 0%;
    }
}

.car-caption {
    width: 250px;
    border: 0px solid rgba(255, 0, 0, 0);
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.632);
    margin: 0% 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 800px) {
    .car-caption {
        width: 200px;
        font-size: large;
        border: 1px solid rgba(255, 0, 0, 0);
        border-radius: 20px;
        margin: 0% 50%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.enzo-quote {
    margin: 0% 10%;
    border: 1px solid rgba(255, 0, 0, 0);
    color: rgba(46, 44, 44, 0.875);
    font-size: 50px;
    border-radius: 30px;
    padding: 60px;
    background-color: rgba(130, 130, 130, 0.146);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 800px) {
    .enzo-quote {
        margin: 0% 10%;
        border: 1px solid rgba(255, 0, 0, 0);
        color: rgba(46, 44, 44, 0.875);
        font-size: 30px;
        border-radius: 30px;
        padding: 50px;
        background-color: rgba(130, 130, 130, 0.146);
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

.quote-name {
    text-align: right;
    text-decoration: solid;
    font-style: italic;
    font-weight: bolder;
    font-size: 64px;
}

@media only screen and (max-width: 800px) {
    .quote-name {
        text-align: right;
        text-decoration: solid;
        font-style: italic;
        font-weight: bolder;
        font-size: 35px;
        margin: 0%;
    }
}

.quotation {
    display: flex;
    height: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 1%;
    background-image: url(3blur-quot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .quotation {
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        background-image: url(3blur-quot.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.quotation-button {
    background-color: rgba(243, 230, 227, 0.819);
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: auto;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin-right: 10%;
    border: none;
    flex-shrink: 0;
    border-radius: 100px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .quotation-button {
        background-color: rgba(243, 230, 227, 0.819);
        font-size: 20px;
        width: 200px;
        height: 50px;
        margin: 10% 0%;
        margin-left: 10%;
        align-self: flex-start;
        border: none;
        flex-shrink: 0;
        border-radius: 100px;
        cursor: pointer;
    }
}

.quotation-text {
    font-size: 40px;
    color: #fff3eedd;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 20%;
}

@media only screen and (max-width: 800px) {
    .quotation-text {
        font-size: 30px;
        text-align: right;
        color: #fff3eedd;
        margin-top: 10%;
        margin-left: 20%;
        margin-right: 10%;
    }
}

.footer {
    background-color: #fac295a5;
    display: flex;
    flex-shrink: 0;
    font-size: 20px;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 10%;
    width: 100%;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .footer {
        background-color: #fac295a5;
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        font-size: 22px;
        height: 500px;
        margin-top: 10%;
        width: 100%;
        gap: 20%;
        justify-content: center;
        align-items: center;
    }
}

.footer-div1 {
    width: 120px;
    height: 300px;
    flex-wrap: wrap;
    /* margin: 4%; */
}

.footer-div2 {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 300px;
    flex-wrap: wrap;
    /* margin: 4%; */
    align-content: center;
}

.email-button {
    background-color: rgba(243, 230, 227, 0.931);
    font-size: 15px;
    width: 150px;
    height: 40px;
    margin-right: 10%;
    margin-top: 30%;
    padding: auto;
    border: none;
    flex-shrink: 0;
    border-radius: 100px;
    cursor: pointer;
}
